Slideshow CSS = "
	.slider-holder
	{
		width: 800px;
		height: 440px;
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		text-align: center;
		overflow: hidden;
	}

	.image-holder
	{
		width: 2400px;
		background-color: white;
		height: 400px;
		clear: both;
		position: relative;
	   
		-webkit-transition: left 2s;
		-moz-transition: left 2s;
		-o-transition: left 2s;
		transition: left 2s;
	}

	.slider-image
	{
		float: left;
		margin: 0px;
		padding: px;
		position: relative;
		height: 400px;
		width: 800px;
	}
   
	#slider-image-1:target ~ .image-holder
	{
		left: 0px;
	}
   
	#slider-image-2:target ~ .image-holder
	{
		left: -800px;
	}
   
	#slider-image-3:target ~ .image-holder
	{
		left: -1600px;
	}
   
	.button-holder
	{
		position: relative;
		top: 20px;
	}
   
	.slider-change
	{
		display: inline-block;
		height: 12px;
		width: 12px;
		border-radius: 60px;
		background-color:#DB9D0F;
	}
	
	p {
		font-family: Times, serif;
		font-size: 20px;
	}
	
	.regularText {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 30px
	}
	
	.pointOutText {
		color: rgb(237, 189, 17);
		font-family: Times, serif;
		font-size: 35px;
		font-weight: bold;
	}
"